# Images
images/*

# Sounds
sounds/*

# Unnecessary Greenfoot/BlueJ Files
*.ctxt

# Don't update the project.greenfoot EVERY time!
# Clutters up git too much 
project.greenfoot

# Generated Documentation
doc/

# Complied Code
*.class

# Temporary Files
*~
